@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&display=swap');

:root {
    --dark-brown:#6E4421;
    --orange:#F08C00;
    --beige:#EFC281;
    --yellow:#FAEEB0;
    --white:#FFFFFF;
    --sky-blue:#09ADFF;
    --font-sans: "DM Serif Text", Times New Roman, serif;
}

/* global styles */
body, html {
    scroll-behavior: smooth;
}

body {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  background: var(--beige);
}

.nav {
    color: var(--white);
    transition: 0.3s color ease;
}

.nav a:hover, .nav a:focus {
    text-decoration: none;
    color: var(--sky-blue);
}

img {
    max-width: 80vw;
}

/* typography */
h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
}

h2, h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-brown);
}

p {
    font-size: 16px;
    line-height: 25px;
    color: var(--dark-brown);
    width: 100%;
    max-width: 634px;
}

h1 {
    font-size: 36px;
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--white);
    text-align: center;
    padding: auto;
}

h2 {
    font-size: 24px;
}

p li {
    color: var(--dark-brown);
}

/* homepage */

.sr-only{
    visibility: hidden;
}

.home #scroll-up{
    display: none;
}

footer {
    color: #FFF;
    font-family: "DM Serif Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    width: 108px;
    height: 31px;
    flex-shrink: 0;
}

/* media queries */
@media (min-width: 700px) {

h1 {
text-align: center;
/* heading 1 desktop */
font-family: "DM Serif Display";
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
color:#FFF
}

h2 {
font-family: "DM Serif Display";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
}