/* load fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&display=swap');

/* variables */
:root {
    --dark-brown:#6E4421;
    --orange:#F08C00;
    --beige:#EFC281;
    --yellow:#FFE7C5;
    --white:#FFFFFF;
    --sky-blue:#09ADFF;
    --font-sans: "DM Serif Text", "Times New Roman", serif;
}

/* global styles / reset */
*, *::before, *::after {
        box-sizing: border-box;
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        scroll-behavior: smooth;
}

body {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    background: var(--beige);
}

nav {
    width: 100%;
    height: 10%;
    background: #572800;
    color:#FFFFFF;
}

nav a {
    color:#FFFFFF;
    transition: 0.2s color ease;
}

nav a:hover, nav a:focus {
    text-decoration: none;
    color: var(--sky-blue);
}

img {
    max-width: 80vw;
}

/* typography */
h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
}

h2, h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
}

p {
    font-size: 16px;
    line-height: 25px;
    width: 100%;
    max-width: 634px;
}

h1 {
    font-size: 36px;
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--white);
    text-align: center;
    padding: auto;
    height: 88px
}

ul {
    width: 444px;
}

ol {
    width: 444px;
}

/* header */
header img {
    max-width: 200px;
}

/* homepage */
.sr-only{
    visibility: hidden;
}

.leaves-bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.44) 100%), url(images/fall-leaves.jpg);
    min-height: 236px;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home #scroll-up{
    display: none;
}

.box-left {
    color: var(--white);
    display: flex;
    width: 100%;
    padding: 37px 86px;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    flex-shrink: 0;
    background: #7D5029;
}

.box-left-content {
    color:#FFFFFF;
    display: flex;
    width: 1265px;
    justify-content: center;
    align-items: center;
    gap: 61px;
}

.box-right {
    color: var(--dark-brown);
    display: flex;
    width: 100%;
    padding: 37px 86px;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    flex-shrink: 0;
    background: var(--yellow);
}

.box-right-content {
    color: var(--dark-brown);
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1265px;
    justify-content: center;
    align-items: flex-start;
    gap: 61px;
    flex-wrap: nowrap;
}

.box-right-content img {
    flex: 0 0 auto;
    width: 760px;
    max-width: 100%;
    height: auto;
    display: block;
}

.box-left-content h2, .box-right-content h2 {
    text-align: center;
}

.extra-box {
    background:#EFC281;
    color:#6E4421;
    display: flex;
    width: 100%;
    padding: 37px 86px;
    gap: 27px;
    flex-shrink: 0;
}

footer {
    background: #572800;
    color: #FFF;
    font-family: "DM Serif Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    width: 100%;
    height: 102px;
    flex-shrink: 0;
}

/* media queries */
@media (min-width: 700px) {

h1 {
text-align: center;
/* heading 1 desktop */
font-family: "DM Serif Display";
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
color:#FFF
}

h2 {
font-family: "DM Serif Display";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

}